body {
    background-color: #f5f6f7;
}


.block-note-title {
    color: #2c2c2c;
    font-size: 30px;
    text-transform: uppercase;
}


.list-item {
    max-height: 200px;
    overflow-y: hidden;
}

.card {
    cursor: pointer;
}
