body {
    background-color: #f5f6f7;
}


.block-note-title {
    color: #2c2c2c;
    font-size: 30px;
    text-transform: uppercase;
}


.list-item {
    height: 200px;
    overflow-y: hidden;
}
.edit-list-item {
    list-style-type: none;
}
.trash-list{
    width: 17px;
    height: 17px;
    cursor: pointer;
    margin: auto;
}
.edit-list{
    width: 17px;
    height: 17px;
    cursor: pointer;
}
.list-btn{
    margin-right: 25px;
}
.list-btn-red{
    background-color: #B40404;
    border-color: #8A0808;
}
.list-btn-red:hover{
    background-color: #FF0000;
    border-color: #DF0101;
}