<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/styles.css" type="text/css">
</head>
<body>
<div class="block_user">
    <form action="" method="GET">
        <div>
            Enter your login
            <input type="text" name="login" id="input-login">
        </div>
        <input type="button" value="Log in" id="btn-login">
    </form>
    <input type="button" value="create new" onclick="fieldAddUser()">
    <div id="block_add_user">

    </div>
    <input type="button" value="Show Notes" onclick="showNotes()">
</div>

<div class="check_user">
    <input type="checkbox" id="scales" name="scales"
           checked>
    <label for="scales">Scales</label>
</div>

<div class="block_filter">

</div>

<div class="block_add">
    <input type="button" value="Add Note" onclick="addNote()" id="btn-add-note">

    <input type="button" value="Add List" onclick="addList()"  id="btn-add-list">
</div>




<div id="block_notes">

</div>


<script src="js/scripts.js">


</script>

</body>
</html>